@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7D3D3;
}

img {
    width: 100%;
}




@media (min-width: 719px) {
    .container {
        display: none;
    }

}

@media (max-width: 720px) {
   body {
    background-image: url(images/haedBGimage.jpg);
    background-position: center;
    background-repeat: none;
    background-size: auto;
   }
    .head_img_bg {
        margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.377);
        padding:  0px 50px 80px 50px;        
    }
   .face_image {
    display: flex;
    justify-content: center;
      img {
        border-radius: 100%;
        width: 30%;
        margin-top: -10%;
      }
    }
    .buttons {
        margin-top: 50px;
    }

     .monday,.tuesday,.wednesday, .thursday, .friday, .saturday, .sunday {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        button {
            width: 300px;
            height: 50px;
            font-weight: 600;
            font-size: large;
            font-family: "Oswald", sans-serif;   
            background-color: #ffffff79;
            border: 1px solid black;
            color: black;
            letter-spacing: 0.7px;
        }
     }

     
.trener_name {
    text-align: center;
    margin-top: -35px;
    font-family: "Oswald", sans-serif;    
    font-size: 2rem;
    color: #EEEEEE;
    text-transform: uppercase;
    
    span {
        font-size: 4rem;
        font-weight: 600;
        color: rgba(192, 27, 27, 0.699);
        
    }
}

.personal_trainer {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: -5px;
    font-weight: lighter;
    background-color:  rgba(192, 27, 27, 0.404);
    color: rgb(223, 214, 214);
    padding: 5px;
    letter-spacing: .2rem;
    text-shadow: 2px 2px black;
    font-family: "Oswald", sans-serif; 
}

/* animation */



}