* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container {
    width: 100vw;
    height: 100vh;
    background-image: url(images/bgFrondTop.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    z-index: -9;
}

.head-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    .head-title {
        height: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        .subtitle{
            font-size: 1.1em;
            font-weight: 500;
            color: white;
            letter-spacing: 1.5px;
            position: relative;
            display: inline-block;
            text-align: center;
            padding: 10px 10px;
            mask-size: 100%;
            mask-position: center center;
            mask-image: url(images/download.svg);
            background-color: red;
            width: 14em;   
            margin-bottom: 1.5em;
        }
        .title {
            color: rgb(255, 255, 255);
            font-size: 3em;
            margin-bottom: .8em;
        }
        .underTitleText {
            color: rgb(175, 175, 175);
            font-size: 1.1em;
            margin-bottom: 2.5em;
        }
        
        
    }

    .other-half {
        flex: 1;
    }
    
}






.btn {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: all 1s;
  overflow: hidden;
  width: 250px;
}



/* HEAD - background */
@media (max-width: 1250px) {
    .head-container {
        width: 100vw;
        height: 100vh;
        background-image: url(images/bgFrondTop2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}