*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


@media (min-width: 719px) {
    .head_content {
        opacity: 0;
    }

}


@media (max-width: 720px) {
    .head_content img {
        margin-top: -11%;
    }
   .face_image {
    display: flex;
    justify-content: left;
      img {
        border-radius: 100%;
        width: 30%;
        margin-top: -20%;
      }
    }
     
     section {
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .introduction {
        text-align: justify;
        margin: 50px 25px;
     }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 50px 30px;
    }

    .box {
        width: 150px;
        height: 100px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .first_exercises_image, .ending_details {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 50px  15px 10px 15px;


        img {
            width: 250px;
        }

        
    }

    .first_exercises_bottom {
            text-align: justify;
            margin: 0 25px 0 ;
        }

    .video {
        display: flex;
        justify-content: center;
        margin: 10px 10px 50px;
    }

    .exe_name {
        margin-top: 50px;
        text-align: center;
    }
    span {
        text-transform: uppercase;
    }
       

    

    

     



    }